<div class="mainGalleryWrapper">
  <% @photos.each do |photo| %>
      <div style='background-image: url( "http://res.cloudinary.com/kryx11/image/upload/<%=photo.image%>")', class="photo"></div>
  <% end %>
</div>
