<h1>Home Page</h1>

<div class="camera">
  <video id="video">Video stream not available.</video>
  <button id="startbutton">Take photo</button>
  <input type="text" id="canvas_filename"></input>
  <button id="savebutton">Save</button>

</div>

<canvas id="canvas">
Sorry your browser does not support canvas.
</canvas>
<div class="tools">
  <div id="eraser" class= 'button'>Eraser</div>
  <div id="draw" class= 'button'>Draw</div>
  <div id="stamp1" class="buttons">
    <img src="assets/hatsune.png" alt="stamp1" id="stamp1_">
  </div>
  <div id="stamp2" class="buttons">
    <img src="assets/dragon.png" alt="stamp2" id="stamp2_">
  </div>
  <div id="stamp3" class="buttons">
    <img src="assets/cat.png" alt="stamp3" id="stamp3_">
  </div>
  <div id="stamp4" class="buttons">
    <img src="assets/patcheye.png" alt="stamp4" id="stamp4_">
  </div>
</div>


<div class="output">
  <img id="photo" alt="The screen capture will appear in this box.">
</div>


<input type="file" id="imageLoader" name="imageLoader"/>
