<div class="headingAnimation">
  <h1 class="titleHeading">Image Maker</h1>
</div>
<p class="lead subheading">Take photos, download or post them onto the web.</p>
<div class="homeWrapper">
  <div style='background-image: url( "http://res.cloudinary.com/kryx11/image/upload/<%= @photo[0].image%>")', class=" homePhoto homePhoto1"></div>

  <div style='background-image: url( "http://res.cloudinary.com/kryx11/image/upload/<%= @photo[1].image%>")', class="homePhoto homePhoto2"></div>

  <div style='background-image: url( "http://res.cloudinary.com/kryx11/image/upload/<%= @photo[2].image%>")', class=" homePhoto homePhoto3"><div>
</div>
