
body{
  background-color: #fff;
  padding-top: 70px;
  color: #111;
}

body a{
  color: white;
}

body a:hover{
  color: white;
}

a:hover{
  text-decoration: none;
}

.app-wrapper{
  width:90vw;
  margin: 0 auto;
}

//index//
.headingAnimation{
  display: inline block;
}

//User gallery page
.photoGalleryLabel{
  color: white;
  padding: 1em 1em 0.5em 1em;
  background-color: rgba(0,0,0,0.5);
  margin-top: -1.2em;
  font-size: 16px;
}

.heading2{
  font-size: 3em;
  margin-bottom: 1em;
  margin-top: 1em;
}
.container{
  display: flex;
  justify-content: space-around;

}
.left{
  width:350px;
  height:40%;
  padding: 2em 2em 0 2em;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.left2{
  width:350px;
  height:40%;
  padding: 2em 2em 0 2em;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.right{
  padding: 2em;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

//Draw page
.canvasContainer{
  display: flex;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}
.toolbar{
  margin-bottom: 2em;

}

.save{
  margin-left: 1em;
}

.drawContainer{
  margin-top: 3em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 4em;
}

.drawAlert{
  background-color: rgba(0, 188, 212,0.4);
  margin-left: 1em;
  margin-top: 1em;
}

.upload{
  margin: 1em 0;
}

.boldFont{
  font-weight: bold;
}

#photo_name{
  margin-bottom: 0.5em;
}

#video {
  width:300px;
  height:225px;
  border-radius: 4px;
}

#canvas {
  width: 400px;
  height: 300px;
  border: 1px solid #555;
  overflow: hidden;
  background-color: transparent;
  color:#fff;
  border-radius: 4px;
}

#canvas2 {
  width:300px;
  height:225px;
  overflow: hidden;
  background-color: transparent;
  color:#fff;
  border-radius: 4px;
}

.camera {
  width: 400px;
}

.output {
  width: 400px;
}

#startbutton {
  display:block;
  position:relative;
  margin-left: 110px;
  bottom:40px;
  background-color: rgba(0, 188, 212,0.4);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1.0);
}

#startbutton:hover{
    background-color: rgba(0, 188, 212,0.7);
}

.contentarea {
  font-size: 16px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  width: 760px;
}

.buttons, .button{
  width: 60px;
  height: 60px;
  margin: 3px;
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 5px;
  box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.5);
}

.buttons:hover, .button:hover{
  box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.8);
}

.buttons img{
  height: 100%;
  padding: 0.4em;
}

#text, #draw{
  padding-top: 0.4em;
}

.inputTextWrapper{
  display: block;
  margin-bottom: 1em;
}

.selectedStamp{
  box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.8);
}

.tools {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

//camera filters
.grayscale {
  filter: grayscale(1);
}

.sepia {
  filter: sepia(1);
}

#masks{
  margin-right: 1em;
}
