
//gridPhotos partial
.mainGalleryWrapper{
  width:100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 4em;
}

.heading{
  font-size: 5em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.photo{
  height: 215px;
  width: 215px;
  background-size: cover;
  background-position: center;
  margin: 1em;
  background-color: white;
  border: 0.8em solid rgb(248, 248, 248);
  transition-duration: 0.9s;
}

.photo:hover{
  border-color: rgb(200, 200, 200);
}

.homePhoto{
  width: 28vw;
  height: 28vw;
  background-size: cover;
  background-position: center;
  border: 0.7em solid rgb(240,240,240);
  margin: 4em auto 0 auto;
  display: inline-block;
  -webkit-backface-visibility: hidden;
}

.homeWrapper{
  width: 86vw;
  margin: 0 auto;
}

.homePhoto1,.homePhoto3{
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  transform: rotate(7deg);
}

.homePhoto2{
  -ms-transform: rotate(-7deg); /* IE 9 */
  -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
  transform: rotate(-7deg);
}


.image_upload{
  visibility: hidden;
}

.photoLabel{
  color: white;
  padding: 1em 1em 0.5em 1em;
  background-color: rgba(0,0,0,0.5);
}

.artistLabel{
  font-size: 14px;
}

.nameLabel{
  font-size: 16px;
}

.example-image-link{
  text-decoration: none;
}

.delete {
  position: relative;
  left:170px;
  top: 3px;
  color: rgba(0,0,0,1);
  background-color: rgba(255,255,255,0.7);
  border-radius: 50%;
  padding: 3px;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.galleryName{
  margin-top: -1em;
  text-align: center;
}

.subheading{
  text-align: center;
}
