
//gridPhotos partial
.mainGalleryWrapper{
  width:100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 4em;
}

.heading{
  font-size: 5em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.photo{
  height: 215px;
  width: 215px;
  background-size: cover;
  background-position: center;
  margin: 2px;
  background-color: white;
}

.image_upload{
  visibility: hidden;
}

.photoLabel{
  color: white;
  padding: 1em 1em 0.5em 1em;
  background-color: rgba(0,0,0,0.5);
}

.artistLabel{
  font-size: 14px;
}

.nameLabel{
  font-size: 16px;
}

.example-image-link{
  text-decoration: none;
}

.delete {
  position: relative;
  left:190px;
  top: 5px;
  color: rgba(0,0,0,1);
  background-color: rgba(255,255,255,0.7);
  border-radius: 50%;
  padding: 3px;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.galleryName{
  margin-top: -2em;
}
